<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <% if (NODE_ENV=="production") { %>
      <meta http-equiv="Content-Security-Policy"
      content="
      default-src 'self';
      connect-src *;
      img-src 'self' *;
      media-src 'self' data: *;
      font-src 'self' data:;
      script-src 'self';
      style-src 'self'"
      >
    <% } %>
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
