<template>
  <div class="tag-button" v-on:click='addTrack(track)'>
    <img src="../icons/add-to-playlist.svg" v-if='icon'/>
    <a v-if='text'>Add to playlist</a>
  </div>
</template>
<script>
import { mapMutations } from 'vuex';
export default {
  name: 'AddToPlayList',
  components: {
  },
  props: {
   icon: Boolean,
   track: Object,
   text: Boolean
  },
  data: function (){
    return {
    }
  },
  created: function() {
  },
  computed: {
  },
  methods: { 
    ...mapMutations('playlist', [
      'addTrack'
    ]),
  }
}
</script>

<style scoped>
</style>

