<template>
  <div>
    <audio ref="audioPlayer" controls autoplay>
    </audio>
    <div id='errors-occured'>
      <span v-for="(errorDetails) in errorsOccured" :key="errorDetails.errorOccuredAt.getTime()">
        <button v-on:click="restartFrom(errorDetails.audioTimeDuringError)" class='error'>Play from error at :
          {{errorDetails.formattedTime}}</button>
      </span>
    </div>
    <div>
      <button v-on:click='refetch' >Reset</button>
    </div>
    <Playlist />
  </div>
</template>

<script>
  import {mapState, mapGetters, mapMutations} from 'vuex';
  import { isNil } from 'ramda';
  import {formatDuration} from '../utils/DateTimeUtils'
  import {getBestAudioStream} from '../utils/YoutubeStreamUtils'
  import {differenceInMinutes} from 'date-fns';
  import Playlist from './Playlist.vue';
  import silenceAudioPath from '../assets/audio/silence_1_minute.mp3';

  export default {
    name: "AudioPlayer",
    props: {
      streamDetails: {
        type: Object,
        default() {
          return {};
        }
      },
      refetch: Function
    },
    components: {
      Playlist
    },
    data() {
      return {
        playedUntil: 0,
        errorsOccured: [],
      }
    },
    methods: {
      ...mapMutations('prefs', [
        'setPreferredVolume',
      ]),
      ...mapMutations('playlist', [
        'setCurrentPlaying',
      ]),
      ...mapGetters('playlist', [
        'getNextTrack',
      ]),
      ...mapGetters('backend', [
        'fetchStreamDetails',
      ]),
      addMediaSessionHandlers: function() {
        navigator.mediaSession.setActionHandler('play', function() {
          this?.$refs?.audioPlayer?.play();
          navigator.mediaSession.playbackState = 'playing';
        }.bind(this));
        navigator.mediaSession.setActionHandler('pause', function() { 
          this?.$refs?.audioPlayer?.pause();
          navigator.mediaSession.playbackState = 'paused';
        }.bind(this));
        navigator.mediaSession.setActionHandler('nexttrack', function() {this?.playNextTrack();}.bind(this));
        // TODO: implement as these get supported on Firefox and OSes
        /* navigator.mediaSession.setActionHandler('seekbackward', function(args1, args2) {console.log(args1, args2)}); */
        /* navigator.mediaSession.setActionHandler('seekforward', function(args1, args2) {console.log(args1, args2)}); */
        /* navigator.mediaSession.setActionHandler('seekto', function(args1, args2) {console.log(args1, args2)}); */
        /* navigator.mediaSession.setActionHandler('previoustrack', function(args1, args2) {console.log(args1, args2)}); */
      },
      addAudioTrack: function(track){
        if(navigator.mediaSession) navigator.mediaSession.playbackState = 'playing';
        const title = track?.title || this.streamDetails.title;
        document.title = title;
        this.$refs.audioPlayer.src = track?.url || getBestAudioStream(this.streamDetails.audioStreams).url;
        this.$refs.audioPlayer.currentTime = this.playedUntil;
      },
      getRecentErrorDetails: function (errorsOccured) {
        return errorsOccured
          .filter(errorDetails => differenceInMinutes(new Date(), errorDetails.errorOccuredAt) < 5);
      },
      onTrackEnd: function() {
        this.playedUntil = 0;
        this.addAudioTrack({ url: silenceAudioPath, title: "Loading next...." });
        this.playNextTrack();
      },
      playNextTrack: function() {
        const nextTrack = this.getNextTrack()();  
        if(isNil(nextTrack?.url)) {
          if(navigator.mediaSession) navigator.mediaSession.playbackState = 'none';
          this.$refs.audioPlayer.pause(); 
          return;
        }
        this.setCurrentPlaying(nextTrack);
      },
      fetchStreamDetailsAndPlay: function(){
        this.fetchStreamDetails()(this.currentPlaying.url)
          .then(streamDetails => getBestAudioStream(streamDetails.audioStreams))
          .then(bestStream => {
            this.addAudioTrack({ url: bestStream.url, title: this.currentPlaying.name });
          })
        .catch(e => {
            console.log(e);
            this.onTrackEnd();
          });
      },
      onVolumeChange: function(){
        this?.$refs?.audioPlayer && this.setPreferredVolume(this?.$refs?.audioPlayer?.volume);
      },
      onError: function (e) {
        console.log('error occured', e);
        const timeAtError = e.target.currentTime;
        console.log(timeAtError, e);
        this.errorsOccured = this.getRecentErrorDetails(
          [{
            error: e,
            audioTimeDuringError: timeAtError,
            formattedTime: formatDuration(timeAtError),
            errorOccuredAt: new Date()
          }, ...this.errorsOccured]
        );
        if(isNil(this.currentPlaying.url)){
          setImmediate(() => this.refetch()); // TODO: current hack for knowing if this track isn't from playlist
        }
        else this.onTrackEnd(); //TODO: on error skips to next track, should give atleast 1 retry
      },
      restartFrom: function(timeAtError) {
        this.refetch();
        this.playedUntil = timeAtError;
      }
    },
    computed: {
      ...mapState('playlist', [
        'currentPlaying',
        'repeatPlaylist'
      ]),
      ...mapState('prefs', {
        defaultResolution: 'defaultResolution',
        preferredVolume: 'preferredVolume',
        showCaptions: 'showCaptions',
      }),
    },
    watch: {
      streamDetails: function () {
        this.addAudioTrack();
      },
      currentPlaying: function() {
        this.fetchStreamDetailsAndPlay();
      }
    },
    mounted: function(){
      if(navigator.mediaSession) this.addMediaSessionHandlers(); 
      this.addAudioTrack();
      this.$refs.audioPlayer.volume = this.preferredVolume;
      this.$refs.audioPlayer.addEventListener('error', (e) => this.onError(e));
      this.$refs.audioPlayer.addEventListener('ended', () => this.onTrackEnd());
      this.$refs.audioPlayer.addEventListener('volumechange', () => this.onVolumeChange());
    },
    destroyed: function() {
      if(navigator.mediaSession) navigator.mediaSession.playbackState = 'none';
    }
}
</script>
<style scoped>
  #errors-occured {
    width: max-content;
    margin-bottom: 30px;
  }

  .error {
    display: block;
    margin: 10px;
  }

  audio {
    max-width: 800px;
    width: 100%;
  }
</styled>
