<template>
<div>
    <div class='center-container' v-if="!collapsed">
      <a v-on:click='collapsed = true' class=".collapsable-action" v-if="!collapsed">
        <v-icon name="chevron-circle-up" width=24 height=24 />
      </a>
      <a v-on:click='collapsed = false' class=".collapsable-action" v-if="collapsed">
        <v-icon  name="chevron-circle-down" width=24 height=24 />
      </a>
    </div>
    <div id="collapsable-content" :class="{collapsed: collapsed}">
      <slot> </slot>
      <slot name='expanded' v-if='!collapsed'> </slot>
    </div>
    <div class='center-container'>
      <a v-on:click='collapsed = true' class=".collapsable-action" v-if="!collapsed">
        <v-icon name="chevron-circle-up" width=24 height=24 />
      </a>
      <a v-on:click='collapsed = false' class=".collapsable-action" v-if="collapsed">
        <v-icon  name="chevron-circle-down" width=24 height=24 />
      </a>
    </div>
</div>
</template>
<script>
export default {
  name: 'Collapsable',
  components: {
  },
  data: function (){
    return {
      collapsed: true
    }
  },
  methods: { 
  }
}
</script>

<style scoped>
  .collapsed {
    max-height: 20vh;
    overflow: hidden;
  }
  .collapsable-action {
    margin: 2vh;
  }
</style>

