<template>
  <a class='tag-button' v-on:click="clicked" target="_blank">Play on Youtube</a>
</template>

<script>
  export default {
    name: 'PlayOnYoutube',
    data: () => ({
    }),
    props: {
      url: String,
      fetchCurrentTime: Function
    },
    methods: {
      clicked: function(){
        const decodedUrlWithTime = decodeURIComponent(this.url) + "&t="+(Number.parseInt(this.fetchCurrentTime && this.fetchCurrentTime()) || 0);
        window.open(decodedUrlWithTime, '_blank').focus();
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
