<template>
  <div>
    <div id="subscribed-channel">
      <div id="actions">
        <v-icon name="trash" class="action" v-on:click='removeSubscription(subscription)' />
      </div>
      <span id="title" v-on:click="() => onSelect(subscription)">
        <a>{{ this.subscription.name }}</a>
      </span>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';

export default {
  name: 'SubscribedChannel',
  props: {
    subscription: {
      name: String,
      url: String
    },
    onSelect: Function
  },
  components: {
  },
  methods: {
    ...mapMutations('subscriptions', [
      'removeSubscription'
    ])
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#subscribed-channel {
  display:flex;
  flex-flow: row-reverse;
  align-items: center;
}

#title {
  margin: 10px;
  width: 8vw;
  overflow-wrap: anywhere;
  word-wrap: anywhere;
  max-height: 10vh;
  overflow: clip;
}

.action {
  margin-right: 1em;
  margin-left: 1em;
}
</style>

