<template>
  <div>
    <div id="subscribed-channel">
      <AsyncContent ref="asyncContent" :asyncDataFetcher="() => fetchVideos()(subscription.url)" v-slot="{ data }" >
        <VideoList v-bind:results="data" />
      </AsyncContent>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import VideoList from './VideoList.vue';
import AsyncContent from './AsyncContent.vue'

export default {
  name: 'SubscribedChannel',
  props: {
    subscription: {
      name: String,
      url: String
    }
  },
  components: {
    VideoList,
    AsyncContent
  },
  methods: {
    ...mapGetters('backend', {
      fetchVideos: 'fetchVideosOfChannel',
    })
  },
  watch: {
    subscription(){
      this.$refs["asyncContent"]?.refetch();
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>

