<template>
  <div :class="{selected: isCurrentPlaying(), track: true, flex: true}">
    <span id="name" v-on:click='setCurrentPlaying(track)'>{{track.name}}</span>
    <span class="playlist-actions">
      <v-icon name="trash" class="playlist-action" v-on:click='removeTrack(track)'/>
    </span>
  </div>
</template>

<script>
  import { mapState, mapMutations } from 'vuex';
  export default {
    name: "Track",
    props: {
      track: {
        type: Object,
        default() {
          return {};
        }
      },
      refresh: Function
    },
    components: {
    },
    data() {
      return {
      }
    },
    methods: {
      ...mapMutations('playlist', [
        'removeTrack',
        'setCurrentPlaying'
      ]),
      removeTrackAndRefresh: function() {
        this.removeTrack(this.track);
        this.refresh();
      },
      isCurrentPlaying: function() {
        return this.currentPlaying.url == this.track.url;
      }
    },
    computed: {
      ...mapState('playlist', [
        'currentPlaying'
      ])
    },
    mounted: function(){
    }
}
</script>
<style scoped>
#name {
  overflow: hidden;
  display: inline-block;
  flex-grow: 1;
}
.track {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 4px;
  padding-right: 4px;
}
.selected {
  border: 2px dotted;
}
</styled>
