<template>
  <div>
    <form v-on:submit="search" class="flex">
      <input ref='searchField' id="search-field" name=search placeholder="search" v-model="queryString" />
      <button type="submit" id="search-button">
        <v-icon name="search" color="white" />
      </button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'YTSearch',
  props: {
    queryStringProp: String
  },
  data: () => {
    return {
      queryString: ''
    }
  },
  components: {
  },
  methods: {
    search: function (e) {
      e.preventDefault();
      this?.$refs?.searchField?.blur();
      this.$router.push({ name: 'Search', query: { query: this.queryString } });
    }
  },
  mounted: function (){
    this.queryString = this.props && this.props.queryStringProp;
  },
}
</script>

<style scoped>
#search-field {
  height: 35px;
  max-width: 500px;
  margin: 10px;
  font-size: large;
  background: black;
  color: white;
  flex-grow: 1;
}
#search-button {
  width: 70px;
  height: 40px;
  background: none;
  border: 1px double lightgrey ;
  margin: 10px;
}
</style>

