<template>
  <div id="content" v-if='item.infoType=="STREAM"'>
    <router-link v-bind:to="{ name: 'Stream', query: { url: this.item.url }}">
      <img id="thumbnail" v-bind:src="this.thumbnailUrl()"/>
    </router-link>
      <span id="details">
        <router-link v-bind:to="{ name: 'Stream', query: { url: this.item.url }}">
          <span id="title">{{item.name}}</span>
        </router-link>
        <AddToPlaylist v-if='onlyAudio' text icon v-bind:track='item'/>
        <span>
          <span>{{viewCount}} Views </span>
          •
          <span>{{item.textualUploadDate}}</span>
        </span>
        <router-link id='channel-name' v-bind:to="{ name: 'Channel', query: { channelUrl: this.item.uploaderUrl }}">
          <span>{{item.uploaderName}} <v-icon v-if="item.uploaderVerified" name="check-circle" /></span>
        </router-link>
        <span v-if="item.duration">{{formattedDuration}}</span>
      </span>
  </div>
</template>

<script>
import { formatDuration } from '../utils/DateTimeUtils.js';
import { mapState, mapMutations } from 'vuex';
import { getThumbnailUrl } from '../utils/YoutubeStreamUtils'
import AddToPlaylist from './AddToPlayList.vue';
import millify from 'millify';
export default {
  name: 'YTVideo',
  props: {
    item: Object
  },
  components: {
    AddToPlaylist
  },
  methods: {
   ...mapMutations('playlist', [
    'addTrack'
   ]),
    thumbnailUrl: function() {
      return getThumbnailUrl(this.item.thumbnails || []) || this.item.thumbnailUrl;
    }
  },
  computed: {
    ...mapState('prefs', [
    'onlyAudio'
    ]),
    formattedDuration: function() {
      if (!this.item.duration) return "";
      return formatDuration(this.item.duration);
    },
    viewCount: function() {
      if (!this.item.viewCount) return "";
      return millify(this.item.viewCount, {precision: 2});
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#channel-name {
  margin-top: 10px;
  margin-bottom: 10px;
  text-overflow: ellipsis;
}
#content {
  display: flex;
  flex-direction: column;
  margin: 15px;
  max-width: 350px;
  color: white;
  overflow: hidden;
  text-decoration-line: none;
}
#thumbnail {
  height: 25vh;
}
#details {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  text-overflow: ellipsis;
  margin-top: 16px;
}
</style>
