.tag-button {
    display: inline-block;
    border: 1px solid;
    padding: 5px;
    margin: 15px 15px 15px 0px;
    background-color: gray;
}

.tag-button img {
  height: 16px;
  margin: 0px 8px 0px 0px;
}
.tag-button .text {
  margin: 0px 0px 0px 8px;
}

.flex {
  display: flex
}

.center-container {
  display: flex;
  justify-content: center;
}

.vjs-quality-selector .vjs-icon-placeholder::before {
	 content: '\f114' !important;
}
